<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hirundo</title>
    <link rel='stylesheet' href='/css/style.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script type="text/javascript" src="js/require-setup.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body style="" class="">
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/">Hirundo</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
			    <li><a href="/user">Users <span class="sr-only"></span></a></li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
			    {{#if user}}
				    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{ user.username }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/user/logout">Logout</a></li>
						</ul>
					</li>
				{{else}}
				    <li><a href="/user/login">Login</a></li>
			    	<li><a href="/user/register">Register</a></li>
				{{/if}}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
    	{{{body}}}
	</div>

</body>
</html>