body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
	max-width: 600px;
	margin-top: 20px;
}

.empty-feed {
	font-weight: bold;
	position: relative;
	left: 50%;
	margin-left: -60px;
	margin-top: 20px;
}

.input-group {
	padding-left: 15px;
	width: 585px;
}

.panel-heading .glyphicon-eye-close {
	margin-left: 5px;
	cursor: pointer;
}

* {
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}